{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Default Title{% endblock %}
        </title>
        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block javascript %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="{% static 'js/script.js' %}"></script>
        {% endblock %}
        {% block meta_tags %}
          <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
      <div id="wrap">
        <main role="main">
          <header>
            {% include "maininclude/header.html" %}
          </header>  
          <div class="container-fluid">
              {% block main %}{% endblock %}
          </div>
        </main>
      </div>
      {% include "maininclude/footer.html" %}
    </body>
</html>